<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844381457733-dq2t405bk94e0v4u5r2mcnm7q0244s8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844381457733-dq2t405bk94e0v4u5r2mcnm7q0244s8o</string>
	<key>API_KEY</key>
	<string>AIzaSyCYzLiUVQ7CNYgvkUnHl8TglCYLf0QQiIc</string>
	<key>GCM_SENDER_ID</key>
	<string>844381457733</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>sneakylink-68f57</string>
	<key>STORAGE_BUCKET</key>
	<string>sneakylink-68f57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844381457733:ios:19e1d2aa811c7cda20422c</string>
	<key>DATABASE_URL</key>
	<string>https://sneakylink-68f57-default-rtdb.firebaseio.com</string>
</dict>
</plist>